@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
    /*text-align: center;*/
    font-family: 'Montserrat', sans-serif;
    padding-left: 23rem;
    padding-right: 23rem;
    /*margin: auto;*/

}
.start
{
    text-align: left;
    font-weight: bold;
}
.non-bullet
{
    list-style: none;
    text-align: right;
   /* display: inline; */

    
}
nav
{
    background-color: #FEF3C7;
    padding: 1rem;
    color: #78350F;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem ;
    /*max-width: 350rem;*/
}
nav .link-active
{
   color: #78350F ;
}
nav .as
{
    font-weight: bold;

}
.opt
{
    display: inline;
    text-align: right; 
    padding: 0.5rem;
    padding-bottom: 0rem;
}
img
{
    display:block;
max-width: 350px;
text-align: center; 
/*padding-left: 7.0rem;*/
padding-top: 2rem;
padding-bottom: 1rem; 
margin: auto; 
}
.hd
{
    text-align: left;
}
a
{
    text-decoration: none;
    padding-bottom: 1rem;
    padding-left: 1rem
}
header .name
{
    text-align: center;
    font-weight: bolder; 
    color: #6B7280   ; 
    font-size: 2em;
    /*    padding: 2.0rem;*/
}
 .first
{
    background-color: #FEF3C7   ;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

 .second
 {
    background-color: #FEF3C7   ;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem ;
 }
 footer
 {
     background-color: #FCD34D    ;
     border-bottom-left-radius: 1rem;
     border-top-right-radius: 1rem;
 }
 h1
 {
     padding-top: 1rem;
     padding-bottom: 1rem;
     padding-left: 0.5rem;
 }
 p
 {
     padding-left: 1rem;
     padding-bottom: 1rem;
 }